@page "/hra"
@using PGMP2_seminarka.Models
@inject IJSRuntime JSRuntime

<div class="cointainer">
   <div class="card">
    <div class="card-header">
         <h4 class="card-title">
             Zelí, koza, vlk
         </h4>
         <p>
                Převozník chce převézt z jednoho břehu na druhý <strong>velkou hlávku zelí, kozu a vlka</strong>. Do loďky s sebou může vzít buď zelí, nebo kozu, nebo vlka, ale víc se tam nevejde. Nechá-li na břehu hlávku zelí a kozu, koza zelí sežere. Nechá-li na břehu kozu a vlka, pak vlk sežere kozu. Přijdete na to, jak tedy převozník tuto situaci vyřeší?
         </p>
     </div>
   </div>
    <div class="herni-plocha">
        @foreach (var postava in postavy)
        {
            <div class="postava"
                 style="@postava.Style"
                 @onclick="() => {if(!konecHry) PresunNaLod(postava);}"
            >
                <img src="@postava.CestaObrazku" alt="@postava.Jmeno" style="transform: scaleX(@(postava.Breh == Breh.Pravy ? "1" : "-1"))" />
                <p>@GetCeskeJmeno(postava.Jmeno)</p>
            </div>
        }
        <img class="lod" src="../img/lod.png" alt="Loď" 
            style="left: @(lod.Breh == Breh.Pravy ? "600px" : "310px"); @lod.Style"
             @onclick="() => {if (!konecHry) VyplutLodi();}" />
        @if (!string.IsNullOrEmpty(zprava) || konecHry)
        {
        <div class="card zprava">
                @if(konecHry)
                {
                    <h3 class="@(vyhra ? "text-success" : "text-danger")">@konecnaHlaska</h3>
                    <button onclick="location.reload()" class="btn btn-warning">Začít znovu</button>
                }
                else
                {
                    <p>@zprava</p>
                }
        </div>
        }
    </div>

    <div class="background"></div>
</div>
@code {

}
